@{
    ViewBag.Title = "Homepage";
}
<div class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" style="height:500px;">
        <div class="item active">
            <img src="~/Images/cat1.jpg" style="width: 100%; overflow:hidden;" />
        </div>
        <div class="item">
            <img src="~/Images/cat1.jpg" style="width: 100%; overflow:hidden;" />
        </div>
        <div class="item">
            <img src="~/Images/cat3.jpg" style="width: 100%; overflow:hidden;" />
        </div>
        <div class="item">
            <img src="~/Images/cat4.jpg" style="width: 100%; overflow:hidden;" />
        </div>
        <div class="item">
            <img src="~/Images/cat5.jpg" style="width: 100%; overflow:hidden;" />
        </div>
    </div>
</div>